In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows', 10)

In [3]:
def aplicar_padding(lista, max_len, valor_padding=0):
    return lista + [valor_padding] * (max_len - len(lista))

In [4]:
df = pd.read_excel('DF_for_EDA.xlsx')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.dropna(subset='token', inplace=True)
df.drop_duplicates(subset= 'word', inplace=True)
df = df.reset_index()
df.drop('index', axis=1, inplace=True)
df['encrypted_eval'] = df['encrypted'].apply(lambda x: eval(x))
df['token_cut_eval'] = df['token_cut'].apply(lambda x: eval(x))
median = np.median([len(i) for i in df['encrypted_eval']])
std = np.std([len(i) for i in df['encrypted_eval']])
df['encrypted_eval_len'] = df['encrypted_eval'].apply(lambda x: len(x))
df = df[df['encrypted_eval_len'] <= median + 2*std]
max_element = max([len(i) for i in df['encrypted_eval']])
df['encrypted_padded'] = df['encrypted_eval'].apply(lambda x: aplicar_padding(x, max_element))
df

,word,token,token_cut,encrypted,token_length,encrypted_eval,token_cut_eval,encrypted_eval_len,encrypted_padded
0,love's,868996791793,"[8689, 9679, 1793]","[40023, 38259, 34971]",12,"[40023, 38259, 34971]","[8689, 9679, 1793]",3,"[40023, 38259, 34971, 0, 0, 0]"
1,majesty,87758479939499,"[8775, 8479, 9394, 9900]","[28831, 46223, 26544, 20148]",14,"[28831, 46223, 26544, 20148]","[8775, 8479, 9394, 9900]",4,"[28831, 46223, 26544, 20148, 0, 0]"
2,To,6289,[6289],[7931],4,[7931],[6289],1,"[7931, 0, 0, 0, 0, 0]"
3,frightful,809283818294809586,"[8092, 8381, 8294, 8095, 8600]","[766, 13409, 33361, 48264, 1742]",18,"[766, 13409, 33361, 48264, 1742]","[8092, 8381, 8294, 8095, 8600]",5,"[766, 13409, 33361, 48264, 1742, 0]"
4,"adversaries,",757896799293759283799322,"[7578, 9679, 9293, 7592, 8379, 9322]","[14513, 38259, 1184, 13627, 43874, 22621]",24,"[14513, 38259, 1184, 13627, 43874, 22621]","[7578, 9679, 9293, 7592, 8379, 9322]",6,"[14513, 38259, 1184, 13627, 43874, 22621]"
...,...,...,...,...,...,...,...,...,...
4340,fruit,8092958394,"[8092, 9583, 9400]","[766, 42936, 4519]",10,"[766, 42936, 4519]","[8092, 9583, 9400]",3,"[766, 42936, 4519, 0, 0, 0]"
4341,table.,947576867924,"[9475, 7686, 7924]","[12103, 46875, 43033]",12,"[12103, 46875, 43033]","[9475, 7686, 7924]",3,"[12103, 46875, 43033, 0, 0, 0]"
4342,pasture,90759394959279,"[9075, 9394, 9592, 7900]","[1617, 26544, 24327, 14078]",14,"[1617, 26544, 24327, 14078]","[9075, 9394, 9592, 7900]",4,"[1617, 26544, 24327, 14078, 0, 0]"
4343,viewing,96837997838881,"[9683, 7997, 8388, 8100]","[14303, 36658, 35051, 5711]",14,"[14303, 36658, 35051, 5711]","[9683, 7997, 8388, 8100]",4,"[14303, 36658, 35051, 5711, 0, 0]"
4344,started.,9394759294797824,"[9394, 7592, 9479, 7824]","[26544, 13627, 24863, 15186]",16,"[26544, 13627, 24863, 15186]","[9394, 7592, 9479, 7824]",4,"[26544, 13627, 24863, 15186, 0, 0]"

In [5]:
df = df[['token','encrypted_padded']]
df

                         token                           encrypted_padded
0                 868996791793             [40023, 38259, 34971, 0, 0, 0]
1               87758479939499         [28831, 46223, 26544, 20148, 0, 0]
2                         6289                      [7931, 0, 0, 0, 0, 0]
3           809283818294809586        [766, 13409, 33361, 48264, 1742, 0]
4     757896799293759283799322  [14513, 38259, 1184, 13627, 43874, 22621]
...                        ...                                        ...
4340                8092958394                [766, 42936, 4519, 0, 0, 0]
4341              947576867924             [12103, 46875, 43033, 0, 0, 0]
4342            90759394959279          [1617, 26544, 24327, 14078, 0, 0]
4343            96837997838881          [14303, 36658, 35051, 5711, 0, 0]
4344          9394759294797824         [26544, 13627, 24863, 15186, 0, 0]

[4277 rows x 2 columns]

In [6]:
for i in range(max_element):
    # Asignar el valor correspondiente de la lista a cada nueva columna
    df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])

C:\Users\USER\AppData\Local\Temp\ipykernel_10264\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])
C:\Users\USER\AppData\Local\Temp\ipykernel_10264\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])
C:\Users\USER\AppData\Local\Temp\ipykernel_10264\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])
C:\Users\USER\AppData\Local\Temp\ipykernel_10264\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])
C:\Users\USER\AppData\Local\Temp\ipykernel_10264\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])
C:\Users\USER\AppData\Local\Temp\ipykernel_10264\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])

In [7]:
df = df.drop('encrypted_padded', axis=1)

In [8]:
df.to_excel('DF_for_model_training.xlsx')

# New EDA for another model Training

In [9]:
df = pd.read_excel('DF_for_EDA.xlsx')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.dropna(subset='token', inplace=True)
df.drop_duplicates(subset= 'word', inplace=True)
df = df.reset_index()
df.drop('index', axis=1, inplace=True)
df['encrypted_eval'] = df['encrypted'].apply(lambda x: eval(x))
df['token_cut_eval'] = df['token_cut'].apply(lambda x: eval(x))
median = np.median([len(i) for i in df['encrypted_eval']])
std = np.std([len(i) for i in df['encrypted_eval']])
df['encrypted_eval_len'] = df['encrypted_eval'].apply(lambda x: len(x))
df = df[df['encrypted_eval_len'] <= median + 2*std]
max_element = max([len(i) for i in df['encrypted_eval']])
df['encrypted_padded'] = df['encrypted_eval'].apply(lambda x: aplicar_padding(x, max_element))

In [10]:
df = df[['token_cut_eval','encrypted_eval']]

In [11]:
# Inicializar listas para almacenar los datos del nuevo DataFrame
tokens = []
encrypteds = []

# Iterar sobre cada fila del DataFrame original
for index, row in df.iterrows():
    # Obtener las listas de tokens y encriptados
    token_list = row['token_cut_eval']
    encrypted_list = row['encrypted_eval']
    
    # Asegurar que las listas tengan el mismo tamaÃ±o
    assert len(token_list) == len(encrypted_list), "Las listas no tienen el mismo tamaÃ±o"
    
    # Iterar sobre los elementos de las listas y agregarlos a las listas correspondientes
    for token, encrypted in zip(token_list, encrypted_list):
        tokens.append(token)
        encrypteds.append(encrypted)

# Crear el nuevo DataFrame con los datos recopilados
df_resultado = pd.DataFrame({
    "token": tokens,
    "encrypted": encrypteds
})

# Mostrar el nuevo DataFrame para verificar su estructura
df_resultado

       token  encrypted
0       8689      40023
1       9679      38259
2       1793      34971
3       8775      28831
4       8479      46223
...      ...        ...
15209   8100       5711
15210   9394      26544
15211   7592      13627
15212   9479      24863
15213   7824      15186

[15214 rows x 2 columns]

In [12]:
df_resultado.to_excel('DF_for_model_training_2.xlsx')