In [1]:
import pandas as pd
import numpy as np

In [2]:
def aplicar_padding(lista, max_len, valor_padding=0):
    return lista + [valor_padding] * (max_len - len(lista))

In [3]:
df = pd.read_excel('DF_for_EDA.xlsx')
df.drop('Unnamed: 0', axis=1, inplace=True)
df = df[df['token_length'] % 2 == 0]
df = df.reset_index()
df.drop('index', axis=1, inplace=True)
df['encrypted_eval'] = df['encrypted'].apply(lambda x: eval(x))
df['token_cut_eval'] = df['token_cut'].apply(lambda x: eval(x))
max_element = max([len(i) for i in df['encrypted_eval']])

df

,word,token,token_cut,encrypted,token_length,encrypted_eval,token_cut_eval
0,love's m,8689967917931087,"[86, 89, 96, 79, 17, 93, 10, 87]","[4681, 8508, 5618, 4955, 8494, 5845, 3816, 1503]",16,"[4681, 8508, 5618, 4955, 8494, 5845, 3816, 1503]","[86, 89, 96, 79, 17, 93, 10, 87]"
1,ajesty\nT,75847993949962,"[75, 84, 79, 93, 94, 99, 62]","[4575, 2388, 4955, 5845, 8458, 6442, 3968]",14,"[4575, 2388, 4955, 5845, 8458, 6442, 3968]","[75, 84, 79, 93, 94, 99, 62]"
2,o fright,8910809283818294,"[89, 10, 80, 92, 83, 81, 82, 94]","[8508, 3816, 229, 7790, 733, 8505, 4381, 8458]",16,"[8508, 3816, 229, 7790, 733, 8505, 4381, 8458]","[89, 10, 80, 92, 83, 81, 82, 94]"
3,ful adve,8095861075789679,"[80, 95, 86, 10, 75, 78, 96, 79]","[229, 8366, 4681, 3816, 4575, 827, 5618, 4955]",16,"[229, 8366, 4681, 3816, 4575, 827, 5618, 4955]","[80, 95, 86, 10, 75, 78, 96, 79]"
4,"rsaries,",9293759283799322,"[92, 93, 75, 92, 83, 79, 93, 22]","[7790, 5845, 4575, 7790, 733, 4955, 5845, 8189]",16,"[7790, 5845, 4575, 7790, 733, 4955, 5845, 8189]","[92, 93, 75, 92, 83, 79, 93, 22]"
...,...,...,...,...,...,...,...
5508,"nd to ""d",8878109489101278,"[88, 78, 10, 94, 89, 10, 12, 78]","[6127, 827, 3816, 8458, 8508, 3816, 986, 827]",16,"[6127, 827, 3816, 8458, 8508, 3816, 986, 827]","[88, 78, 10, 94, 89, 10, 12, 78]"
5509,estroy a,7993949289991075,"[79, 93, 94, 92, 89, 99, 10, 75]","[4955, 5845, 8458, 7790, 8508, 6442, 3816, 4575]",16,"[4955, 5845, 8458, 7790, 8508, 6442, 3816, 4575]","[79, 93, 94, 92, 89, 99, 10, 75]"
5510,ll CRIME,8686104560515547,"[86, 86, 10, 45, 60, 51, 55, 47]","[4681, 4681, 3816, 7007, 3974, 3090, 7241, 9030]",16,"[4681, 4681, 3816, 7007, 3974, 3090, 7241, 9030]","[86, 86, 10, 45, 60, 51, 55, 47]"
5511,"s"" in Cw",9312108388104597,"[93, 12, 10, 83, 88, 10, 45, 97]","[5845, 986, 3816, 733, 6127, 3816, 7007, 1789]",16,"[5845, 986, 3816, 733, 6127, 3816, 7007, 1789]","[93, 12, 10, 83, 88, 10, 45, 97]"
5512,cville.,77968386867924,"[77, 96, 83, 86, 86, 79, 24]","[2243, 5618, 733, 4681, 4681, 4955, 3890]",14,"[2243, 5618, 733, 4681, 4681, 4955, 3890]","[77, 96, 83, 86, 86, 79, 24]"

In [4]:
df['encrypted_padded'] = df['encrypted_eval'].apply(lambda x: aplicar_padding(x, max_element))

In [5]:
len(eval(df['token_cut'][0]))

8

In [6]:
len(eval(df['encrypted'][0]))

8

In [7]:
k = 0
dict_for_model = {}
for i in range(len(df['token_cut_eval'])):
    k += 1
    for j in range(len(df['token_cut_eval'][i])):
        dict_for_model[df['token_cut_eval'][i][j]] = df['encrypted_eval'][i][j]
print(k)

5513

In [8]:
dict_for_model

{86: 4681,
 89: 8508,
 96: 5618,
 79: 4955,
 17: 8494,
 93: 5845,
 10: 3816,
 87: 1503,
 75: 4575,
 84: 2388,
 94: 8458,
 99: 6442,
 62: 3968,
 80: 229,
 92: 7790,
 83: 733,
 81: 8505,
 82: 4381,
 95: 8366,
 78: 827,
 22: 8189,
 57: 7492,
 76: 8164,
 88: 6127,
 90: 214,
 97: 1789,
 77: 2243,
 55: 7241,
 24: 3890,
 56: 7291,
 85: 3839,
 37: 7574,
 51: 3090,
 50: 7615,
 44: 1150,
 23: 783,
 49: 4362,
 43: 1340,
 67: 781,
 60: 3974,
 61: 3297,
 54: 6684,
 91: 2004,
 36: 4214,
 53: 599,
 45: 7007,
 39: 1752,
 20: 8183,
 18: 3513,
 19: 6923,
 27: 1089,
 47: 9030,
 38: 1610,
 98: 4624,
 15: 7398,
 46: 4059,
 58: 1074,
 26: 853,
 72: 8621,
 25: 431,
 65: 4427,
 28: 7085,
 30: 3381,
 48: 4539,
 35: 484,
 34: 4962,
 69: 2165,
 71: 5099,
 33: 205,
 63: 2003,
 12: 986,
 29: 1745,
 64: 8015,
 52: 3085,
 31: 2005,
 32: 7948,
 1: 4615,
 0: 4307,
 41: 5486,
 42: 4945,
 11: 5033,
 14: 6956,
 13: 143,
 59: 6097}