In [2]:
import pandas as pd	
import numpy as np
from autogluon.tabular import TabularPredictor
from Crypto_algorithm import *

c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Llave publica:  (20611, 51983)
Llave privada:  51523

Mensaje numero:  87839394758579

Mensaje numero cut:  [8783, 9394, 7585, 7900]

Mensaje encriptado:  [4076, 26544, 13747, 14078]

Mensaje desencriptado:  mistake

In [3]:
predictor = TabularPredictor.load("autogluon_models_2")

In [4]:
prime_1 = 227
prime_2 = 229

In [5]:
ej_public_key, ej_private_key =  RSA_generate(prime_1,prime_2)


prediction_texts = ['ar', 'two', 'unaffected', 'one', 'alteration', 'apartments', 'celebrated', 'but']
prediction_numbers = [map_string_to_numbers(i) for i in prediction_texts]
prediction_numbers_cut = [separate_number_into_groups_of_four(map_string_to_numbers(i)) for i in prediction_texts]
prediction_encrypted = [RSA_encryption(i, ej_public_key) for i in prediction_texts]


predictions_df = pd.DataFrame({
    'texts': prediction_texts,
    'token': prediction_numbers,
    'token_cut': prediction_numbers_cut,
    'encrypted': prediction_encrypted
    })

In [6]:
predictions = []
for i in predictions_df['encrypted'].values:
    new_data = pd.DataFrame({ 'encrypted': i})
    lista_new = list(predictor.predict(new_data))
    lista_new_rounded = [round(i) for i in lista_new]
    predictions.append(lista_new_rounded)

predictions_df['predictions'] = predictions

In [13]:
predictions_df['prediction_token'] = predictions_df['predictions'].apply(lambda x: ''.join(str(num) for num in x))
predictions_df['prediction_string'] = predictions_df['prediction_token'].apply(lambda x: map_numbers_to_string(x))

In [14]:
predictions_df

,texts,token,token_cut,encrypted,predictions,prediction_token,prediction_string
0,ar,7592,[7592],[13627],[7601],7601,b
1,two,949789,"[9497, 8900]","[24904, 6365]","[9477, 8889]",94778889,tcno
2,unaffected,95887580807977947978,"[9588, 7580, 8079, 7794, 7978]","[14872, 50145, 40200, 36283, 22997]","[9567, 7584, 8083, 7803, 7980]",95677584808378037980,uYajfidef
3,one,898879,"[8988, 7900]","[32774, 14078]","[8977, 7904]",89777904,oce
4,alteration,75869479927594838988,"[7586, 9479, 9275, 9483, 8988]","[5858, 24863, 25310, 11773, 32774]","[7595, 9459, 9258, 9463, 8977]",75959459925894638977,autQrPtUoc
5,apartments,75907592948779889493,"[7590, 7592, 9487, 7988, 9493]","[41398, 13627, 6120, 33498, 37083]","[7601, 7601, 9374, 7993, 9476]",76017601937479939476,bbs`estb
6,celebrated,77798679769275947978,"[7779, 8679, 7692, 7594, 7978]","[21257, 14891, 2196, 12269, 22997]","[7785, 8671, 7702, 7603, 7980]",77858671770276037980,ckl]cbef
7,but,769594,"[7695, 9400]","[3645, 4519]","[7704, 9383]",77049383,csi