In [1]:
import pandas as pd
import numpy as np

In [11]:
def aplicar_padding(lista, max_len, valor_padding=0):
    return lista + [valor_padding] * (max_len - len(lista))

In [22]:
df = pd.read_excel('DF_for_EDA.xlsx')
df.drop('Unnamed: 0', axis=1, inplace=True)
df = df[df['token_length'] % 2 == 0]
df = df.reset_index()
df.drop('index', axis=1, inplace=True)
df['encrypted_eval'] = df['encrypted'].apply(lambda x: eval(x))
max_element = max([len(i) for i in df['encrypted_eval']])

df

,word,token,token_cut,encrypted,token_length,encrypted_eval
0,love's m,8689967917931087,"[86, 89, 96, 79, 17, 93, 10, 87]","[151, 1139, 147, 1011, 2146, 489, 1184, 2166]",16,"[151, 1139, 147, 1011, 2146, 489, 1184, 2166]"
1,ajesty\nT,75847993949962,"[75, 84, 79, 93, 94, 99, 62]","[1082, 1859, 1011, 489, 2032, 870, 526]",14,"[1082, 1859, 1011, 489, 2032, 870, 526]"
2,o fright,8910809283818294,"[89, 10, 80, 92, 83, 81, 82, 94]","[1139, 1184, 1671, 1058, 2372, 1372, 742, 2032]",16,"[1139, 1184, 1671, 1058, 2372, 1372, 742, 2032]"
3,ful adve,8095861075789679,"[80, 95, 86, 10, 75, 78, 96, 79]","[1671, 613, 151, 1184, 1082, 1159, 147, 1011]",16,"[1671, 613, 151, 1184, 1082, 1159, 147, 1011]"
4,"rsaries,",9293759283799322,"[92, 93, 75, 92, 83, 79, 93, 22]","[1058, 489, 1082, 1058, 2372, 1011, 489, 40]",16,"[1058, 489, 1082, 1058, 2372, 1011, 489, 40]"
...,...,...,...,...,...,...
5508,"nd to ""d",8878109489101278,"[88, 78, 10, 94, 89, 10, 12, 78]","[476, 1159, 1184, 2032, 1139, 1184, 1584, 1159]",16,"[476, 1159, 1184, 2032, 1139, 1184, 1584, 1159]"
5509,estroy a,7993949289991075,"[79, 93, 94, 92, 89, 99, 10, 75]","[1011, 489, 2032, 1058, 1139, 870, 1184, 1082]",16,"[1011, 489, 2032, 1058, 1139, 870, 1184, 1082]"
5510,ll CRIME,8686104560515547,"[86, 86, 10, 45, 60, 51, 55, 47]","[151, 151, 1184, 2299, 686, 1770, 2261, 1885]",16,"[151, 151, 1184, 2299, 686, 1770, 2261, 1885]"
5511,"s"" in Cw",9312108388104597,"[93, 12, 10, 83, 88, 10, 45, 97]","[489, 1584, 1184, 2372, 476, 1184, 2299, 873]",16,"[489, 1584, 1184, 2372, 476, 1184, 2299, 873]"
5512,cville.,77968386867924,"[77, 96, 83, 86, 86, 79, 24]","[2145, 147, 2372, 151, 151, 1011, 2051]",14,"[2145, 147, 2372, 151, 151, 1011, 2051]"

In [23]:
df['encrypted_padded'] = df['encrypted_eval'].apply(lambda x: aplicar_padding(x, max_element))