In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('DF_for_EDA.xlsx')
df

,Unnamed: 0,word,token,token_cut,encrypted,token_length
0,0,love's,868996791793,"[86, 89, 96, 79, 17, 93]","[34, 65, 34, 7, 7, 65, 66, 7, 69, 66, 7, 50]",12
1,2,To,6289,"[62, 89]","[65, 63, 34, 7]",4
2,5,Our,579592,"[57, 95, 92]","[26, 66, 7, 26, 7, 63]",6
3,7,arms,75928793,"[75, 92, 87, 93]","[66, 26, 7, 63, 34, 66, 7, 50]",8
4,8,hung,82958881,"[82, 95, 88, 81]","[34, 63, 7, 26, 34, 34, 34, 69]",8
...,...,...,...,...,...,...
5665,7551,in,8388,"[83, 88]","[34, 50, 34, 34]",4
5666,7553,mind,87838878,"[87, 83, 88, 78]","[34, 66, 34, 50, 34, 34, 66, 34]",8
5667,7554,to,9489,"[94, 89]","[7, 46, 34, 7]",4
5668,7556,all,758686,"[75, 86, 86]","[66, 26, 34, 65, 34, 65]",6
5669,7558,in,8388,"[83, 88]","[34, 50, 34, 34]",4

In [9]:
def join_list(list_):
    new_list = []
    for i in range(0,len(list_),2):
        new_list.append( int(str(list_[i])+str(list_[i+1])) )
    return new_list

In [23]:
df['encrypted'][0]

'[34, 65, 34, 7, 7, 65, 66, 7, 69, 66, 7, 50]'

In [14]:
df['encrypted_join'] = df['encrypted'].apply(lambda x: join_list(x)
df

ValueError: invalid literal for int() with base 10: '[3'